<% layout('layouts/boilerplate')  %> <!-- means here is layout body -->
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Update my Password</h1>
        <form action="/user/forgot"method="POST">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com"name="email">
          </div>
          <button class="btn btn-success">Update</button>
        </form>
    </div>
</div>